<!doctype html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <title>Manchester United fan page</title>
    <link href="css/styles.css" type="text/css" rel="stylesheet">

</head>

<body class="contact">
        
    <header>
    <div class="header-inner">
        
        <div class="logo-left">
            <a href="index.html">
                <img src="images/logo.png" alt="logo">
            </a>
        </div>
        
        
        <div class="header_h2">
            <h2 class="header_headline2">Manchester United Fan Page</h2>
        </div>
        
        <div class="logo-right">
            <img class="social_network_icon" src="images/facebook-icon.png" alt="facebook">
            <img class="social_network_icon" src="images/twitter_icon.png" alt="twitter">
            <img class="social_network_icon" src="images/instargram_icon.jpg" alt="instargram">
        </div>
        
    </div> <!-- end header-innter -->
 
        
        
    <nav id="primary">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="players.html">players</a></li>
            <li><a href="news.html">news</a></li>
            <li><a href="gallary.html">gallery</a></li>
            <li><a href="form.html">contact</a></li>
        </ul>
    </nav>
        
    </header>
    
    
    
    
    <div id="wrapper"> 
        
    <main> 
        <h2 class="thx-h2">Thank You for your submission. We are going to reflect your valuable opinion in our homepage. Thank you</h2>
    </main>
    <aside>
        <h3>Contact us</h3>
        <img class="aside-image" src="images/background.jpg" alt="old-trafford">
        <h4>mail : tvroom88@naver.com</h4>
        <h4>phone : 111-1111-1111</h4>
    </aside>
        
    <footer>
        <ul>
            <li>Copyright &copy; 2020</li>
            <li>All Rights Reserved</li>
            <li><a href="http://central.mystudentswa.com/jaehongle/web110/index.html">Web Design by Jaehong</a></li>
            <li><a href="https://validator.w3.org/check?uri=referer">HTML Vaild</a></li>
        </ul>
    
    </footer>
        
        
    </div> <!--end wrapper-->
    
    
</body>
</html>