{% extends 'toto_chicken_restaurant_base.html' %}
{% load static %}



{% block content %}
    <style>


        .four {
            width: 210px;
            display: inline-block;
            background-color: antiquewhite;
            float: left;
            margin: 50px 30px 0 0;
            border: 2px solid black;
        }

        .four img {
            width: 100%;
            height: 160px;
        }


        #wrapper .row :nth-child(4) {
            margin-right: 0px;
        }




    </style>

    <div class="menu">
        <div class="row">
            <div class="four">
                <img class="left" src="{% static 'one.jpg' %}" alt="one">
                <h5>chicken</h5>
            </div>
            <div class="four">
                <img class="left" src="{% static 'two.jpg' %}" alt="two">
                <h5>chicken</h5>
            </div>
            <div class="four">
                <img class="left" src="{% static 'three.jpg' %}" alt="three">
                <h5>chicken</h5>
            </div>
            <div class="four">
                <img class="left" src="{% static 'four.jpg' %}" alt="four">
                <h5>chicken</h5>
            </div>
        </div>


        <div class="row">
            <div class="four">
                <img class="left" src="{% static 'five.jpeg' %}" alt="five">
                <h5>chicken</h5>
            </div>
            <div class="four">
                <img class="left" src="{% static 'six.jpg' %}" alt="six">
                <h5>chicken</h5>
            </div>
            <div class="four">
                <img class="left" src="{% static 'seven.jpeg' %}" alt="seven">
                <h5>chicken</h5>
            </div>
            <div class="four">
                <img class="left" src="{% static 'eight.jpg' %}" alt="eight">
                <h5>chicken</h5>
            </div>
        </div>

    </div>

{% endblock content %}
