{% extends 'toto_chicken_restaurant_base.html' %}



{% block content %}
    <style>
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

        h1 {
            text-align: center;
            margin: 20px 0 20px 0;
        }


        form {

            max-width: 500px;
            margin: 0 auto 0 auto;

        }

        fieldset {
            padding: 10px;
            border: 1px dotted #888;
            border-radius: 10px;
            background: yellow;
        }

        label {
            display: block;
            margin-bottom: 4px;
            font-family: Verdana, helvetica, arial, sans-serif;
        }

        legend {
            font-size: 1.5em;
            color: red;
            font-style: italic;
            padding: 0 6px;
        }

        input {
            width: 100%;
            height: 25px;
            margin-bottom: 30px;
            background: #ffeee6;
            padding-left: 5px;
        }


        textarea {
            width: 100%;
            height: 300px;
            margin-bottom: 10px;
            padding-left: 5px;
            background: #ffeee6;
            border:1px solid black;
        }

    </style>

    <form method="post">{% csrf_token %}

        <h1>Contact Us</h1>

        <fieldset>
            <legend>Send us your opinion</legend>
            <form class="form-signin" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-actions">
                    <button type="submit">Send</button>
                </div>
            </form>
        </fieldset>
    </form>


{#    <h1>Contact Us</h1>#}
{#    <form action="/formhandler.php" method="post">#}
{#        <fieldset>#}
{#            <!--label : inline-->#}
{#            <legend>Send us your opinion</legend>#}
{#            <label>Name</label>#}
{#            <input type="text" name="name" placeholder="Your name">#}
{##}
{#            <label>Email</label>#}
{#            <input type="email" name="email" placeholder="Your email">#}
{##}
{#            <label>Comments</label>#}
{#            <textarea name="comments" placeholder="Your comments"></textarea>#}
{##}
{#            <input type="submit" name="submit" value="Send it!">#}
{#        </fieldset>#}
{#    </form>#}

{% endblock content %}
